<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.acw">

    <application
        android:allowBackup="true"
        android:icon="@drawable/acw"
        android:label="@string/app_name"
        android:roundIcon="@drawable/acw"
        android:supportsRtl="true"
        android:theme="@style/Theme.ACW">
        <activity android:name=".TrabalheActivity"></activity>
        <activity android:name=".OrcamentoActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>